<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <style>
            .hbs {
                border-spacing: 2px;
                border-collapse: separate;
            }
            .title {
                font-size: 2rem;
                line-height: 3rem;
            }
            .kmos {
                font-family: "Khmer OS";
            }
            .kmosm {
                font-family: "Khmer OS Muol Light";
            }
            .en {
                font-family: "Times New Roman", Times, serif;
            }
            .bold {
                font-weight: bold;
            }
            .bolder {
                font-weight: bolder;
            }
            .ruler {
                width: 100%;
                margin: 10px 0;
                border-bottom: 1px solid #333333 !important;
            }
            .long-field {
                width: 60%;
            }
            .short-field {
                width: 300px;
            }
            .hbd {
                border-bottom: 2px dotted #333333 !important;
            }
            .table-border {
                border-bottom: 1px solid black !important;
                border-top: 1px solid black !important;
                border-collapse: collapse !important;
            }
        </style>
    </head>

    <body>
        <table>
            <thead>
                <tr>
                    <td>
                        <img
                            src="{{ business.logo }}"
                            alt="koompi-logo"
                            srcset=""
                            style="width: auto; height: 15mm"
                        />
                    </td>
                </tr>
                {% assign name_kh = "" %}
                {% assign name_en = "" %}
                {% assign bank_name = "" %}
                {% assign bank_no = "" %}
                {% assign vattin = "" %}
                {% assign no_kh = "" %}
                {% assign no_en = "" %}
                {% assign str_kh = "" %}
                {% assign str_en = "" %}
                {% assign sangkat_kh = "" %}
                {% assign sangkat_en = "" %}
                {% assign khan_kh = "" %}
                {% assign khan_en = "" %}
                {% assign city_kh = "" %}
                {% assign city_en = "" %}
                {% assign businuess_telephone = "" %}
                {% for field in business.custom_fields %}
                    {% case field.label %}
                        {% when "company_name_en" %}
                            {% assign name_en = field.text %}
                        {% when "company_name_kh" %}
                            {% assign name_kh = field.text %}
                        {% when "bank_name" %}
                            {% assign bank_name = field.text %}
                        {% when "bank_no" %}
                            {% assign bank_no = field.text %}
                        {% when "vattin" %}
                            {% assign vattin = field.text %}
                        {% when "no_kh" %}
                            {% assign no_kh = field.text %}
                        {% when "no_en" %}
                            {% assign no_en = field.text %}
                        {% when "str_kh" %}
                            {% assign str_kh = field.text %}
                        {% when "str_en" %}
                            {% assign str_en = field.text %}
                        {% when "sangkat_kh" %}
                            {% assign sangkat_kh = field.text %}
                        {% when "sangkat_en" %}
                            {% assign sangkat_en = field.text %}
                        {% when "khan_kh" %}
                            {% assign khan_kh = field.text %}
                        {% when "khan_en" %}
                            {% assign khan_en = field.text %}
                        {% when "city_kh" %}
                            {% assign city_kh = field.text %}
                        {% when "city_en" %}
                            {% assign city_en = field.text %}
                        {% when "telephone" %}
                            {% assign businuess_telephone = field.text %}
                    {% endcase %}
                {% endfor %}
                
                {% assign invoice_type = "tax_invoice" %}
                {% assign exchange_rate = 0 %}
                {% assign telephone = "" %}
                {% assign company_en = "" %}
                {% assign company_kh = "" %}
                {% assign attn = "" %}
                {% for field in custom_fields %}
                    {% case field.label %}
                        {% when "attn" %}
                            {% assign attn = field.text %}
                        {% when "company_en" %}
                            {% assign company_en = field.text %}
                        {% when "company_kh" %}
                            {% assign company_kh = field.text %}
                        {% when "telephone" %}
                            {% assign telephone = field.text %}
                        {% when "exchange_rate" %}
                            {% assign exchange_rate = field.text %}
                        {% when "invoice_type" %}
                            {% assign invoice_type = field.text %}
                        {% else %}
                    {% endcase %}
                {% endfor %}

                <tr>
                    <td colspan="99">
                        <center><div class="title kmos bold">{{ name_kh }}</div></center>
                    </td>
                </tr>
                <tr>
                    <td colspan="99">
                        <center><div class="title en bold">{{ name_en }}</div></center>
                    </td>
                </tr>

                <tr>
                    <td colspan="99">
                        <table class="hbs">
                            <tr colspan="8">
                                <td rowspan="5" style="width: 100px"></td>
                                <td class="kmos" colspan="5">
                                    លេខអត្តសញ្ញាណកម្ម អតប
                                    <span class="en">(VATTIN)</span>
                                    <span class="en bolder">{{ vattin }}</span>
                                </td>
                            </tr>
                            <tr class="kmos">
                                <td>អាសយដ្ឋាន៖</td>
                                <td>ផ្ទះលេខ៖</td>
                                <td class="hbd">{{ no_kh }}</td>
                                <td>ផ្លូវលេខ៖</td>
                                <td class="hbd">{{ str_kh }}</td>
                                <td>ឃុំ/សង្កាត់៖</td>
                                <td class="hbd">{{ sangkat_kh }}</td>
                            </tr>
                            <tr class="en">
                                <td>Address:</td>
                                <td>No:</td>
                                <td class="hbd">{{ no_en }}</td>
                                <td>Street No:</td>
                                <td class="hbd">{{ str_en }}</td>
                                <td>Commune/Sangkat:</td>
                                <td class="hbd">{{ sangkat_en }}</td>
                            </tr>
                            <tr class="kmos">
                                <td>ក្រុង/ស្រុក/ខណ្ឌ៖</td>
                                <td class="hbd">{{ khan_kh }}</td>
                                <td>ខេត្ត/រាជធានី៖</td>
                                <td class="hbd">{{ city_kh }}</td>
                                <td>ទូរស័ព្ទលេខ៖</td>
                                <td class="en hbd" colspan="2">{{ businuess_telephone }}</td>
                            </tr>
                            <tr class="en">
                                <td>Town/District/Khan:</td>
                                <td class="hbd">{{ khan_en }}</td>
                                <td>Province/City:</td>
                                <td class="hbd">{{ khan_en }}</td>
                                <td>Telephone No:</td>
                                <td></td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td colspan="99">
                        <div class="ruler"></div>
                    </td>
                </tr>
                <tr>
                    <td colspan="99">
                        <center>
                            <div class="title kmosm">
                                
                                {% if invoice_type == "tax_invoice" %}
                                    វិក្កយបត្រអាករ
                                {% else %}
                                    វិក្កយបត្រ
                                {% endif %}
                            </div>
                        </center>
                    </td>
                </tr>
                <tr>
                    <td colspan="99">
                        <center>
                            <div class="title bold en">
                                {% if invoice_type == "tax_invoice" %}
                                    TAX INVOICE
                                {% else %}
                                    INVOICE
                                {% endif %}
                            </div>
                        </center>
                    </td>
                </tr>
                {% assign issued_date = "" %}
                {% assign due_date = "" %}
                {% assign invoice_no = "" %}
                {% for field in fields %}
                    {% if field.label == "Invoice date" %}
                        {% assign issued_date = field.text %}
                    {% endif %}
                    {% if field.label == "Due date" %}
                        {% assign due_date = field.text %}
                    {% endif %}
                    {% if field.label == "Invoice number" %}
                        {% assign invoice_no = field.text %}
                    {% endif %}         
                {% endfor %}
                            
                <tr>
                    <td>
                        <table style="margin-bottom: 30px">
                            
                            <tr>
                                <td style="width: 200px !important;"><span class="kmos">ជូនចំពោះ</span><span class="en">/ Attn to:</span></td>
                                <td class="hbd" style="width: 400px !important;">{{ attn }}</td>
                            </tr>
                            <tr>
                                <td style="width: 200px !important;"><span class="kmos">ក្រុមហ៊ុន</span></td>
                                <td class="hbd kmos" style="width: 400px !important;">{{ company_kh }}</td>
                            </tr>
                            <tr>
                                <td style="width: 200px !important;"><span class="en">Company</span></td>
                                <td class="hbd" style="width: 400px !important;">{{ company_en }}</td>
                            </tr>
                            <tr>
                                <td style="width: 200px !important;"><span class="kmos">អាសយដ្ឋាន</span><span class="en">/Address:</span></td>
                                <td class="hbd" style="width: 400px !important;">{{ recipient.address }}</td>
                            </tr>
                            <tr>
                                <td  style="width: 200px !important;"><span class="kmos">អ៊ីម៉ែល</span><span class="en">/Email:</span></td>
                                <td class="hbd" style="width: 400px !important;">{{ recipient.email }}</td>
                            </tr>
                            <tr>
                                <td style="width: 200px !important;"><span class="kmos">ទូរស័ព្ទលេខ</span><span class="en">/Telephone No:</span></td>
                                <td class="hbd" style="width: 400px !important;">{{ telephone }}</td>
                            </tr>
                            {% if invoice_type == "tax_invoice" %}
                            <tr>
                                <td style="width: 200px !important;"><span class="kmos">លេខអត្តសញ្ញាណកម្ម</span><span class="en"> VAT No:</span></td>
                                <td class="hbd" style="width: 400px !important;">{{ recipient.identifier }}</td>
                            </tr>
                            {% endif %}
                        </table>
                    </td>
                    <td colspan="10">
                        <table>
                            <tr>
                                <td style="width: 400px !important; padding-left: 5px;"><span class="kmos">លេខរៀងវិក្កយបត្រ</span><span class="en">/Invoice No:</span></td>
                                <td class="hbd">{{ invoice_no }}</td>
                            </tr>
                            <tr>
                                <td style="width: 400px !important; padding-left: 5px;"><span class="kmos">កាលបរិច្ឆេទ</span><span class="en">/Date of Issue:</span></td>
                                <td class="hbd">{{ issued_date }}</td>
                            </tr>
                            <tr>
                                <td style="width: 400px !important; padding-left: 5px;"><span class="kmos">ថ្ងៃផុតកំណត់</span><span class="en">/Due Date</span></td>
                                <td class="hbd">{{ due_date }}</td>
                            </tr>
                            <tr>
                                <td style="width: 400px !important; padding-left: 5px;"><span class="kmos">អត្រាប្តូរប្រាក់</span><span class="en">/Exchange Rate 1USD</span></td>
                                <td class="hbd">៛ {{ exchange_rate }}</td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    {% for column in table.columns %}
                    <td
                        class="text-{{ column.align }} border-start{% if forloop.last == true %} border-end{% endif %}"
                        style="font-weight: bold; padding: 5px 10px; border-bottom-width: 1px; border-top-width: 1px{% if column.nowrap %}; width: 80px{% endif %}"
                    >
                        {{ column.label }}
                    </td>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for row in table.rows %}
                <tr>
                    {% for cell in row.cells %}
                    <td
                        class="text-{{table.columns[forloop.index0].align}} border-start{% if forloop.last == true %} border-end{% endif %}"
                        style="padding: 5px 10px; {% if table.columns[forloop.index0].nowrap %}; white-space: nowrap; width: 80px{% endif %}"
                    >
                        {{ cell.text | newline_to_br }}
                    </td>
                    {% endfor %}
                </tr>
                {% endfor %}
                <tr>
                    {% for column in table.columns %}
                    <td
                        class="border-start{% if forloop.last == true %} border-end{% endif %}"
                        style="border-bottom-width: 1px"
                    >
                        &nbsp;
                    </td>
                    {% endfor %}
                </tr>
                <tr>
                    <td colspan="99">
                        <table>
                            <td colspan="99">
                                <table>
                                    {% assign step = 0 %}
                                    {% assign vat = 0 %}
                                    {% assign subtotal = 0 %}
                                    {% assign grand = 0 %}
                                    {% for total in table.totals %}
                                        {% if total.label == "Total" %}
                                            {% assign grand = total.number %}
                                            {% continue %}

                                        {% else %}
                                        <tr style="border: 1px solid black; border-collapse: collapse">
                                            {% if step == 0 %}
                                            <td rowspan="0" style="width: 45%; border: none" class="en">
                                                <p>* Bank Information for remittance of payment:</p>
                                                <p>Bank Name: {{ bank_name }}</p>
                                                <p>Bank address: {{ no_en }}, St {{ str_en }}, {{ sangkat_en }}, {{ khan_en }}, {{ city_en }}</p>
                                                <p>Account Name: {{ name_en }}</p>
                                                <p>Account No : {{ bank_no }}</p>
                                            </td>
                                            {% endif %} {% assign step = 1 %}
                                            <td colspan="3" style="width: 45%; border-bottom: 2px solid black; border-collapse: collapse; vertical-align: middle;">
                                                
                                                {% case total.label %}
                                                    {% when "VAT 10%" %}
                                                        {% assign grand = total.number %}
                                                        {% assign vat = total.number| divided_by: 1.1 %}
                                                        <span class="kmos">អាករលើតម្លៃបន្ថែម</span><span class="en"> / (VAT 10%)</span>
                                                    
                                                    {% else %}
                                                        {{ total.label }}
                                                {% endcase %}
                                                
                                            </td>
                                            {% if total.label == "VAT 10%" %}   
                                            <td style="border-bottom: 2px solid black; border-collapse: collapse; vertical-align: middle; text-align: right; padding-right: 10px;">
                                                {% assign arr = vat | split: "." %}
                                                {% assign f = arr[0] %}
                                                {% assign t = arr[1] | downcase %}
                                                {{ f }}.{{ t | slice: 0, 2 }}
                                            </td>
                                            {% else %}
                                            <td style="border-bottom: 2px solid black; border-collapse: collapse; vertical-align: middle; text-align: right; padding-right: 10px;">{{ total.text }}</td>

                                            {% endif %}                                     
                                        {% endif %}
                                    </tr>
                                    {% endfor %}
                                    <tr>
                                        <td colspan="3" style="border-bottom: 2px solid black; border-collapse: collapse; vertical-align: middle;"><span class="kmos">សរុបរួម</span><span class="en">/ Grand Total</span></td>
                                        
                                        <td style="border-bottom: 2px solid black; border-collapse: collapse; vertical-align: middle; text-align: right; padding-right: 10px;">$ {{ grand }}</td>
                                    </tr>
                                    <tr style="background: #cccccc; font-weight: bold !important;">
                                        <td colspan="3" style="border-bottom: 2px solid black; border-collapse: collapse; vertical-align: middle;"><span class="kmos">សរុបរួមរៀល</span><span class="en"> / Grand Total in Riel</span></pre></td>
                                        {% assign grandr = grand|times:exchange_rate %}
                                        <td style="border-bottom: 2px solid black; border-collapse: collapse; vertical-align: middle; text-align: right; padding-right: 10px;"><span class="kmos">៛</span><span class="en"> {{ grandr }}</span></td>
                                    </tr>
                                </table>
                            </td>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td colspan="10">
                        <table style="width: 80%;">
                            <tr>
                                <td style="height: 180px; width: 300px; border-bottom: 2px dotted black;">
                                
                                </td>
                                <td style="height: 180px; width: 200px"></td>
                                <td style="height: 180px; width: 300px; border-bottom: 2px dotted black;"></td>
                            </tr>
                            <tr>
                                <td><span class="kmos">ហត្ថលេខ និង ឈ្មោះអ្នកធ្វើវិក្កយបត្រ</span></td>
                                <td></td>
                                <td><span class="kmos">ហត្ថលេខ និង ឈ្មោះអ្នកទទួល</span></td>
                            </tr>
                            <tr>
                                <td><span class="en">Receiver Signature & Name</span><br/><br/></td>
                                <td><br/><br/></td>
                                <td><span class="en">Issuer Signature & Name</span><br/><br/></td>

                            </tr>
                            <tr>
                                <td colspan="3"><span class="kmos"><span class="bold">សម្គាល់៖</span> ច្បាបដើមសម្រាប់អ្នកទិញ ច្បាប់ចម្លងសម្រាប់អ្នកលក់</span></td>

                            </tr>
                            <tr>
                                <td colspan="3"><span class="en"><span class="bold">Note:</span> Original Invoice for Customer, Copied Invoice for Seller</span></td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
    </body>
</html>